.fightArea{
    display: flex;
    gap: 20px;
}

#char #monster {
    flex: 1;
}

.lifeBar {
    height: 10px;
    border: 1px, solid #333;
    border-radius: 5px;
}

.lifeBar .bar {
    height: inherit;
    background-color: red; /* Verde para indicar vida */
    transition: width 0.3s ease; /* Animação suave na mudança de largura */
}

.log {
    border: 1px, dotted #999;
    height: 200px;
    overflow: scroll;
}