.fightArea{
    display: flex;
    gap: 60px;
}

#char #monster {
    flex: 1;
}

.healChances {
    display: flex;
    margin: 5px 0px 5px;
}

.lifeBar {
    height: 20px;
    border: 2px solid #333; 
    border-radius: 5px;
    margin-bottom: 10px;
    position: relative;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
}

.lifeBar .bar {
    height: 100%; 
    background-color: red; 
    transition: width 0.3s ease; 
}

.lifeBar .lifeText {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white; 
    font-weight: bold; 
}

button {
    width: 100px;
    border-radius: 5px;
    cursor: pointer;
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
}

.attackButton {
    margin: 10px 20px;
    background-color: #e63946; 
    transition: all 0.3s ease;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.attackButton:hover {
    background-color: #d62828; 
    transform: scale(1.2);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3);
}

.attackButton:disabled,
.attackButton:disabled:hover {
    transform: scale(1);
    background-color: #f5a6a6; 
    cursor: not-allowed;
    opacity: 0.5; 
    box-shadow: none;
}

.healButton {
    margin: 10px;
    background-color: #1f8f80; 
    transition: all 0.3s ease;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.healButton:hover {
    background-color: #117368; 
    transform: scale(1.2);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3);
}

.healButton:disabled {
    background-color: #a6e3e3; 
    cursor: not-allowed;
    opacity: 0.5; 
    box-shadow: none;
}

.healButton:disabled:hover {
    transform: none;  
    opacity: 0.5; 
}

.control {
    position: relative;
    padding-top: 1.5rem;
}

.healChances {
    position: absolute;
    right: 0;
    left: 0;
    top: 0;
    display: flex;
    gap: 0.15rem;
}

.log {
    border: 3px, dotted #999;
    height: 200px;
    overflow: scroll;
}